@import "../../styles/variables.scss";

div {
  min-width: $breakpoint-xs;
  max-width: $breakpoint-xs;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;

  @media (min-width: $breakpoint-sm) {
    max-width: $breakpoint-sm;
  }

  @media (min-width: $breakpoint-md) {
    max-width: $breakpoint-md;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $breakpoint-lg;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: $breakpoint-xl;
  }
}
